<%=



%>


<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Admin | Dashboard</title>
    <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i">
    <link rel="stylesheet" href="/assets/fonts/fontawesome-all.min.css">
    <link rel="stylesheet" href="/assets/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="/assets/fonts/fontawesome5-overrides.min.css">
    <link rel="stylesheet" href="/assets/css/Bootstrap-Calendar.css">
    <link rel="stylesheet" href="/assets/css/modified.css">

    <!-- <script src="/scripts/drag_and_drop.js"></script> -->
</head>

<body id="page-top">
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <div id="wrapper">
        <%- include('partials/sidebar.ejs') %>
        <div class="d-flex flex-column" id="content-wrapper">
            <div id="content">
                <%- include('partials/header.ejs') %>
                <div class="container-fluid">
                    <div class="d-sm-flex justify-content-between align-items-center mb-4">
                        <h1 class="text-dark mb-0">Event Organizer Dashboard</h1>
                        <a class="btn btn-primary btn-sm d-none d-sm-inline-block" role="button" href="#" data-bs-toggle="modal" data-bs-target="#createEventModal"><i class="fas fa-plus fa-sm text-white-50"></i>&nbsp;Create New Event</a>
                    </div>

                    <!-- MODAL BOX FOR EVENT CREATION -->
                    <!-- TODO: MOVE TO PARTIALS -->
                    <div class="modal fade" id="createEventModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered">
                          <div class="modal-content">
                            <div class="modal-header">
                              <h5 class="modal-title" id="exampleModalLabel">Create New Event</h5>
                              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                                <div class="modal-body">
                                    <!-- post form create event -->
                                    <form class="row g-3" id="eventCreationForm" action="createEvent" method="post" enctype="multipart/form-data">
                                        <div class="col-12">
                                            <input type="hidden" name="orgid" value="<%= orgId %>">
                                            <label for="eventName" class="form-label">Event Name</label>
                                            <input type="text" name="eventName" class="form-control" id="eventName" placeholder="Enter event name">
                                        </div>
                                        <div class="col-12">
                                            <label for="eventLocation" class="form-label">Venue</label>
                                            <input type="text" name="eventLocation" class="form-control" id="venue" placeholder="Enter event venue">
                                        </div>
                                        <div class="col-12">
                                            <label for="eventInfo" class="form-label">Description</label>
                                            <textarea class="form-control" name="eventInfo" id="description" placeholder="Enter description" rows="5"></textarea>
                                        </div>
                                        <div class="col-md-6">
                                            <label for="startDate">Start date </label>
                                            <input name="eventDateStart" id="startDate" class="form-control" type="date" />
                                        </div>
                                        <div class="col-md-6">
                                            <label for="endDate">End date </label>
                                            <input name="eventDateEnd" id="endDate" class="form-control" type="date" />
                                        </div>
                                        <div class="col-md-6">
                                        <label class="" for="visibilitySelection">Event Visibility</label>
                                            <select class="form-select" id="visibilitySelection" name="visibility">
                                            <option selected value="Everyone">Everyone</option>
                                            <option value="SLU">SLU Exclusive</option>
                                            <option value="Organization"><%= orgName %> Exclusive</option>
                                            <option value="Course">Course Exclusive</option>
                                            </select>
                                        </div>
                                        <div class="col-md-6">
                                            <label class="" for="courseSelection">Course</label>
                                            <select class="form-select" disabled="true" id="courseSelection" name="course">
                                                <option value="1">BSCS</option>
                                                <option value="2">BSIT</option>
                                                <option value="3">BMMA</option>
                                            </select>
                                        </div>

                                        <div class="container mt-4">
                                            <div class="row">
                                              <div class="col-sm-3">
                                                <label for="numberOfInputs" class="form-label">Segments:</label>
                                                <select class="form-select" id="numberOfInputs">
                                                  <option value="0">0</option>
                                                  <option value="1">1</option>
                                                  <option value="2">2</option>
                                                  <option value="3">3</option>
                                                  <option value="4">4</option>
                                                  <option value="5">5</option>
                                                </select>
                                              </div>
                                            </div>
                                            <div class="row mt-3" id="inputFieldsContainer">
                                                
                                            </div>
                                          </div>
                                          <div id="segmentInputsContainer"></div>
                                        <script>
                                            //if visibility is not set to =course, disable course selection
                                              $(document).ready(function () {
                                                $('#visibilitySelection').change(function () {
                                                    if ($(this).val() === 'Course') {
                                                        $('#courseSelection').prop('disabled', false);
                                                    } else {
                                                        $('#courseSelection').prop('disabled', true).val('');
                                                    }
                                                });
                                            });
                                        </script>
                                        <div class="col-12">
                                            <div class="mb-3">
                                                <label for="formFile" class="form-label"> Upload Event Poster </label>
                                                <div class="mb-3" id="img-view">
                                                    <img class="img-fluid d-none" src="" alt="Uploaded Image">
                                                    <div class="alert alert-warning mt-2 d-none" id="img-warning">
                                                        The uploaded image is too small (minimum of 300 x 300 pixels). Please upload a larger image.
                                                    </div>
                                                </div>
                                                <input class="form-control" type="file" accept="image/*" id="eventPoster" name="eventPoster">
                                              </div>
                                        </div>
                                        
                                        <script>
                                            // reads file, then uploads a preview
                                            $(document).ready(function () {
                                                $('#eventPoster').change(function () {
                                                    let imgLink = URL.createObjectURL(this.files[0]);
                                                    console.log(imgLink);                                                    

                                                    let img = new Image();
                                                    img.src = imgLink;

                                                    // if image is less than 300 x 300 pixels, show error and prevent submission
                                                    img.onload = function () {
                                                        $('#img-view img').attr('src', imgLink).removeClass('d-none');

                                                        if (img.width < 300 || img.height < 300) {
                                                            $('#img-warning').removeClass('d-none');
                                                        } else {
                                                            $('#img-warning').addClass('d-none');
                                                        }
                                                    }
                                                });
                                            });
                                        </script>
                                        <input type="hidden" id="numberOfInputs" name="numberOfInputs" value="">
                                        <script src="assets/js/index.js"></script>
                                        
                                        <div class="col-12">
                                            
                                            <button type="submit" class="btn btn-primary">Create event</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- END OF MODAL -->
                    <%- include('partials/samplecalendar.ejs') %> 
                </div>
            </div>
            <%- include('partials/footer.ejs') %>
        </div><a class="border rounded d-inline scroll-to-top" href="#page-top"><i class="fas fa-angle-up"></i></a>
    </div>
    <script type="module" src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="assets/js/theme.js"></script>
    <% if (success === 'true') { %>
        <script>
            console.log('triggered');
            // Display the modal using its ID
            $(document).ready(function () {
                $('#successAddingEventModal').modal('show');
            });
        </script>
    <% } else if (success === 'false'){ %>
        <script>
            console.log('else');
            // Display a different modal using its ID
            $(document).ready(function () {
                $('#failAddingEventModal').modal('show');
            });
        </script>
    <% } %>
    <!-- MODAL TO DISPLAY SUCCESS EVENT MAKING -->
    <div class="modal fade" id="successAddingEventModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title">Success!</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <p>Event has been created!</p>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
      </div>
      <!-- MODAL END -->

      <!-- FAIL EVENT MAKING-->
    <div class="modal fade" id="failAddingEventModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title">Error</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <p>Event not created</p>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
      </div>
      <!-- MODAL END -->

</body>

</html>