<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Profile - Brand</title>
    <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i">
    <link rel="stylesheet" href="/assets/fonts/fontawesome-all.min.css">
    <link rel="stylesheet" href="/assets/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="/assets/fonts/fontawesome5-overrides.min.css">
    <link rel="stylesheet" href="/assets/css/modified.css">
    
</head>


<body id="page-top">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <div id="wrapper">
        <%- include('partials/sidebar.ejs') %>
        <div class="d-flex flex-column" id="content-wrapper">
            <div id="content">
                <%- include('partials/header.ejs') %>
                <div class="container-fluid">
                    <h3 class="text-dark mb-4">Organization: <%= orgName  %></h3>
                    <div class="row mb-3">
                        <div class="col-lg-4">
                            <div class="card mb-3">
                                <div class="card-body text-center shadow"><img class="rounded-circle mb-3 mt-4" src="assets/img/default_icon.jpg" width="160" height="160">
                                    <div class="mb-3"><button class="btn btn-primary btn-sm" type="button">Change Photo</button></div>
                                </div>
                            </div>
                            <div class="card shadow mb-4">
                                <div class="card-header py-3">
                                    <h6 class="text-primary fw-bold m-0">Stats</h6>
                                </div>
                                <div class="card-body">
                                    <h4 class="small fw-bold">Total Events<span class="float-end"><%= allEvents.length %></span></h4>
                                    <h4 class="small fw-bold">Completed Events<span class="float-end"><%= pastEvents.length %></span></h4>
                                    <h4 class="small fw-bold">Upcoming Events<span class="float-end"><%= upcomingEvents.length %></span></h4>
                                    <h4 class="small fw-bold">Total Members<span class="float-end"><%= orgMembers.length %></span></h4>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-8">
                            <div class="row mb-3 d-none">
                                <div class="col">
                                    <div class="card textwhite bg-primary text-white shadow">
                                        <div class="card-body">
                                            <div class="row mb-2">
                                                <div class="col">
                                                    <p class="m-0">Peformance</p>
                                                    <p class="m-0"><strong>65.2%</strong></p>
                                                </div>
                                                <div class="col-auto"><i class="fas fa-rocket fa-2x"></i></div>
                                            </div>
                                            <p class="text-white-50 small m-0"><i class="fas fa-arrow-up"></i>&nbsp;5% since last month</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="card textwhite bg-success text-white shadow">
                                        <div class="card-body">
                                            <div class="row mb-2">
                                                <div class="col">
                                                    <p class="m-0">Peformance</p>
                                                    <p class="m-0"><strong>65.2%</strong></p>
                                                </div>
                                                <div class="col-auto"><i class="fas fa-rocket fa-2x"></i></div>
                                            </div>
                                            <p class="text-white-50 small m-0"><i class="fas fa-arrow-up"></i>&nbsp;5% since last month</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <div class="card shadow mb-3">
                                        <div class="card-header py-3">
                                            <p class="text-primary m-0 fw-bold">Organization Settings</p>
                                        </div>
                                        <div class="card-body">
                                            <form>
                                                <div class="row">
                                                    <div class="col">
                                                        <div class="mb-3"><label class="form-label" for="username"><strong>Organization Name</strong></label><input class="form-control" type="text" id="username" placeholder="<%= orgName %>" name="username"></div>
                                                    </div>
                                                    <div class="col">
                                                        <div class="mb-3"><label class="form-label" for="email"><strong>Email Address</strong></label><input class="form-control" type="email" id="email" placeholder="<%= orgEmail %>" name="email"></div>
                                                    </div>
                                                </div>
                                                <div class="mb-3"><button class="btn btn-primary btn-sm" type="submit">Save Settings</button></div>
                                            </form>
                                        </div>
                                    </div>
                                    <div class="card shadow">
                                        <div class="card-header py-3">
                                            <p class="text-primary m-0 fw-bold">Members of <%= orgName %></p>
                                        </div>
                                        <div class="card-body">

                                                <div class="mb-3"><label class="form-label" for="address"></label>
                                                    <div class="table-responsive">
                                                        <table class="table">
                                                            <thead>
                                                                <tr>
                                                                    <th>Email</th>
                                                                    <th class="text-end"> </th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                <% orgMembers.forEach(member => { %>
                                                                    <!-- MODAL FOR REMOVING USER -->
                                                                    <div class="modal fade" id="removeMemberModal_<%= member.Email.replace(/[^a-zA-Z0-9]/g, '_') %>" tabindex="-1" aria-labelledby="removeMemberModalLabel" aria-hidden="true">
                                                                        <div class="modal-dialog modal-dialog-centered">
                                                                            <div class="modal-content">
                                                                                <!-- Modal content here -->
                                                                                <div class="modal-header">
                                                                                    <h5 class="modal-title" id="removeMemberModalLabel">Remove <%= member.Email %></h5>
                                                                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                                                </div>
                                                                                <div class="modal-body">
                                                                                    <!-- Post form create event -->
                                                                                    <form id="removeOrgMemberForm_<%= member.Email %>" action="/removeOrgMember" method="POST">
                                                                                        <input type="hidden" name="orgid" value="<%= orgId %>">
                                                                                        <input type="hidden" name="memberEmail" value=<%= member.Email %>>
                                                                                        <button type="submit" class="btn btn-primary">Remove <%= member.Email %></button>
                                                                                    </form>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <!-- MODAL END -->
                                                                
                                                                    <!-- Button that triggers the modal -->
                                                                    <tr>
                                                                        <td><%= member.Email %></td>
                                                                        <td class="text-end">
                                                                            <button class="btn btn-danger btn-sm d-none d-sm-inline-block remove-member-btn" data-bs-toggle="modal" data-bs-target="#removeMemberModal_<%= member.Email.replace(/[^a-zA-Z0-9]/g, '_') %>">
                                                                                <i class="fas fa-sm text-white-50"></i>&nbsp;Remove member
                                                                            </button>
                                                                        </td>
                                                                    </tr>
                                                                <% }); %>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                                <div class="mb-3">
                                                    <a class="btn btn-primary btn-sm d-none d-sm-inline-block" role="button" href="#" data-bs-toggle="modal" 
                                                    data-bs-target="#addMemberModal"><i class="fas fa-plus fa-sm text-white-50"></i>&nbsp;Add member</a>

                                                    
                                                </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card shadow mb-5">
                        <div class="card-header py-3">
                            <p class="text-primary m-0 fw-bold">[placeholder for now]</p>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-6">
                                    <form>
                                        <div class="mb-3"><label class="form-label" for="signature"><strong>Signature</strong><br></label><textarea class="form-control" id="signature" rows="4" name="signature"></textarea></div>
                                        <div class="mb-3">
                                            <div class="form-check form-switch"><input class="form-check-input" type="checkbox" id="formCheck-1"><label class="form-check-label" for="formCheck-1"><strong>Notify me about new replies</strong></label></div>
                                        </div>
                                        <div class="mb-3"><button class="btn btn-primary btn-sm" type="submit">Save Settings</button></div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <%- include('partials/footer.ejs') %>
        </div><a class="border rounded d-inline scroll-to-top" href="#page-top"><i class="fas fa-angle-up"></i></a>
    </div>
    <% if (success==='true') { %>
        <script>
            console.log('triggered');
            // Display the modal using its ID
            $(document).ready(function () {
                $('#successAddingModal').modal('show');
            });
        </script>
    <% } %>

    <!-- MODAL FOR ADDING USER -->
    <div class="modal fade" id="addMemberModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Add member to <%= orgName %></h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="container-fluid">
                    <!-- post form add member -->
                        <form id="addOrgMemberForm" action="/addOrgMember" method="POST">
                            <div class="col ms-auto">
                                <label for="email" class="form-label">Enter email</label>
                                <input type="text" name="email" class="form-control" id="emailOrg" placeholder="example@slu.edu.ph">
                                <input type="hidden" name="orgid" value="<%= orgId %>">
                            </div>
                            <div class="col md-3">
                                <button type="submit" class="btn btn-primary">Add member</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <script>
        function displayRemoveMemberModal(email) {
          document.getElementById('emailOrg').value = email;
          $('#removeMemberModal').modal('show');
        }
    </script>
      

    <!-- MODAL FOR REMOVING USER -->
    <div class="modal fade" id="removeMemberModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Member Added!</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                <div class="modal-body">
                    <div class="container-fluid">
                        <form id="removeOrgMemberForm" action="/removeOrgMember" method="POST">
                            <input type="hidden" name="orgid" value="<%= orgId %>">
                            <input type="hidden" name="memberEmail" id="memberEmail">
                            <button type="submit" class="btn btn-primary">Remove member</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
<!-- MODAL END -->



    <!-- MODAL TO DISPLAY SUCCESS ORG MEMBER ADDING -->
    <div class="modal fade" id="successAddingModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title">Member Added!</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <p><%= addedEmail %> has successfully been registered to <%= orgName %></p>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
      </div>
      <!-- MODAL END -->

    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="assets/js/theme.js"></script>

    
</body>

</html>